

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('ecp/proximanova-bold-webfont.woff') format('woff'), url('ecp/proximanova-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaSemibold';
    src:  url('ecp/proximanova-semibold-webfont.woff') format('woff'), url('ecp/proximanova-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('ecp/proximanova-regular-webfont.woff') format('woff'), url('ecp/proximanova-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('ecp/proximanova-light-webfont.woff') format('woff'), url('ecp/proximanova-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uknumberplateregular';
    src: url('https://www.eurocarparts.com/theme/ecp/assets/fonts/uknumberplate-webfont.eot');
    src: url('https://www.eurocarparts.com/theme/ecp/assets/fonts/uknumberplate-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/uknumberplate-webfont.woff2') format('woff2'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/uknumberplate-webfont.woff') format('woff'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/uknumberplate-webfont.ttf') format('truetype'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/uknumberplate-webfont.svg#uknumberplateregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Hero Page font added*/

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Light.eot');
    src: url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Light.woff2') format('woff2'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Light.woff') format('woff'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Light.ttf') format('truetype'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Regular.eot');
    src: url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Regular.woff2') format('woff2'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Regular.woff') format('woff'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Regular.ttf') format('truetype'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Semibold.eot');
    src: url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Semibold.woff2') format('woff2'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Semibold.woff') format('woff'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Semibold.ttf') format('truetype'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Bold.eot');
    src: url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Bold.woff2') format('woff2'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Bold.woff') format('woff'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Bold.ttf') format('truetype'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Extrabld.eot');
    src: url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Extrabld.woff2') format('woff2'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Extrabld.woff') format('woff'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Extrabld.ttf') format('truetype'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
    font-weight: 800;
    font-style: normal;
}

/* CI-546 */
@font-face {
    font-family: 'proxima_nova_condensedXBd';
    src: url('https://www.eurocarparts.com/theme/ecp/assets/fonts/proxima_nova_condensed_extrabold-webfont.woff2') format('woff2'), url('https://www.eurocarparts.com/theme/ecp/assets/fonts/proxima_nova_condensed_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.StripeElement {
    box-sizing: border-box;
  
    height: 40px;
    padding: 10px 12px;
  
    border: 1px solid #62a020;
    border-radius: 4px;
    background-color: white;
    font-family: 'ProximaNova';
  }
  
  .StripeElement--focus {
    
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  .InputElement{
    font-family: 'ProximaNova';
  }

  #card-errors{
      color: red;
      font-family: 'ProximaNova';
  }


  .order-place-btn-1 {
    float: right;
    width: auto;
    color: #fff;
    background: url(https://images.lteplatform.com/assets/ecp/images/checkout-icon.png) no-repeat 95% center #62a020;
    font-size: 26px;
    font-family: "ProximaNovaBold";
    border-radius: 5px;
    padding: 19px 48px 16px 68px;
    line-height: 21px;
    position: relative;
    
  }